@font-face {
  font-family: 'NanumGangBuJangNimCe';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumGangBuJangNimCe/NanumGangBuJangNimCe.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumGangBuJangNimCe/NanumGangBuJangNimCe.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumGangBuJangNimCe/NanumGangBuJangNimCe.ttf') format('truetype');
}